@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

html.dark,
html.dark body,
html.dark #root {
  background-color: #09090b;
  color: #ffffff;
}

html:not(.dark),
html:not(.dark) body,
html:not(.dark) #root {
  background-color: #f8fafc;
  color: #0f172a;
}